
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(../../imgs/fundo-verde.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1; 
    font-family: 'Inter', sans-serif;
  }
  
  form {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }
  
  .input-field {
    position: relative;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .recall-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .recall-forget a {
    color: #27a844;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #27a844;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
  }
  
  button:hover {
    background-color: #219638;
  }
  
  .signup-link {
    margin-top: 20px;
  }
  
  .signup-link a {
    color: #27a844;
    text-decoration: none;
  }
  